@{
    ViewBag.Title = "Home Page";
}

<div class='section content'>
    <img class="img-responsive" src="https://scontent.fbnu4-1.fna.fbcdn.net/v/t1.0-9/13327607_915621891879903_4007859519724812899_n.jpg?_nc_cat=109&oh=e11b96bdae96b423e016257d78559767&oe=5C49A379" />
</div>
