
@{
    if (!ViewBag.Sucesso)
    {
        Layout = null;
    }

    ViewBag.Title = "VerificarLogin";
    ViewBag.Usuario = new LojaInformatica.Controllers.LoginController();

    <h1>Todo o conteúdo do site de acordo com o nível</h1>
}